---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/ui/Header.astro";
import Footer from "../../components/sections/Footer.astro";
import ProjectHero from "../../components/sections/project/ProjectHero.astro";
import ProjectContent from "../../components/sections/project/ProjectContent.astro";
import ProjectImageSlider from "../../components/sections/project/ProjectImageSlider.astro";
import ProjectMosaicNew from "../../components/sections/project/ProjectMosaicNew.astro";
import ProjectTestimonials from "../../components/sections/project/ProjectTestimonials.astro";
import { proyectosData } from '../../data/proyectos';

// Generar las rutas estáticas desde los datos importados
export async function getStaticPaths() {
  return proyectosData.map(proyecto => ({
    params: { slug: proyecto.slug },
    props: {
      title: proyecto.title,
      description: proyecto.description,
      tags: proyecto.tags,
      backgroundImage: proyecto.backgroundImage,
      content: proyecto.content,
      images: proyecto.images,
      testimonial: proyecto.testimonial,
      testimonials: proyecto.testimonials,
      virtualTourVideo: proyecto.virtualTourVideo
    }
  }));
}

const { title, description, tags, content, images, testimonial, testimonials, backgroundImage, virtualTourVideo } = Astro.props;
---

<Layout title={`${title} - Constructora Carpio`}>
  <Header />
  <main>
    <ProjectHero 
      title={title}
      description={description}
      tags={tags}
      backgroundImage={backgroundImage}
    />
    
    <ProjectContent 
      title={title}
      content={content}
      images={images}
      virtualTourVideo={virtualTourVideo}
    />
    
    <!-- <ProjectImageSlider 
      images={images}
      title="Galería del Proyecto"
    /> -->
    
    <ProjectMosaicNew 
      images={images}
      title="Explora Cada Detalle"
    />
    
    <!-- <ProjectTestimonials 
      testimonials={testimonials}
    /> -->


  </main>
  <Footer />
</Layout>
